.container{
    background-color: white;
    height: 100vh;
    min-height: 100%;
    width: 750px;
    max-width: 100%;
}
.im{
    max-width: 100%;
    max-height: 100%;
}
.aa{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    background: #eee;
    overflow-x: hidden;
}
.tl{
    text-align: right;
}
.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.pp{
    padding-right: 10px;
}
.d-f-c{
    display: flex;
    flex-direction: column;
}
.btn{
    padding: 1rem 3rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
}
.p{
    padding-right: 0;
}
.container-2{
    background-color: #333;
    max-width: 100%;
    width: 750px;
    color: white;
    height: 60px;
}
.dd{
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}
.container-3{
    background-color: white;
    max-height: 100%;
    width: 750px;
    max-width: 100%;
}
.b{
    font-weight: 600;
}
.bb{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 5px;
}